<h1>Guestbook</h1>

<%= form_tag search_messages_path, method: :get do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Search..." %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "New message", new_message_path %>
<hr>
<% @messages.each do |message| %>
  <div>
    <strong>#<%= message.id %> | <%= message.author %> [<%= message.created_at.strftime("%Y-%m-%d %H:%M") %>]</strong>
    <p><%= message.text %></p>
    <%= button_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <hr>
<% end %>